@charset "UTF-8";
@font-face{
  font-family: 'Roboto';
  src: url('Roboto.woff');
}
@font-face {
  font-family: 'Noto';
  src: url('NotoJP.woff');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  position: relative;
  font-family: 'Roboto', 'Noto';
}
  #container{
    height: 128px;
    width: 768px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
    #list{
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      opacity: 0.38;
    }
    #info{
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      opacity: 0.38;
    }
    #list:hover{
      cursor: pointer;
    }
    #info:hover{
      cursor: pointer;
    }
    #book{
      height: 128px;
      width: 512px;
      margin: 0 auto;
    }
      #hole{
        height: 128px;
        width: 512px;
        background: #EEEEEE;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1) inset;
      }
      .card{
        height: 128px;
        width: 512px;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        background: #FFFFFF;
      }
      .card:hover{
        cursor: pointer;
      }
        .card > span{
          flex: 1;
          text-align: center;
          font-size: 24px;
        }
  #word-list{
    margin: 0 auto;
    height: 100vh;
    width: 512px;
    overflow: scroll;
    position: relative;
    z-index: 5;
    background: #FFFFFF;
    visibility: hidden;
  }
  #word-list::-webkit-scrollbar{
    display: none;
  }
    #word-list > a{
      height: 128px;
      width: 512px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #word-list > a:hover{
      cursor: pointer;
      background: #FAFAFA;
    }
      #word-list > a > span{
        flex: 1;
        text-align: center;
        font-size: 24px;
      }
  #howtouse{
    margin: 0 auto;
    padding: 16px 0;
    width: 512px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: #FFFFFF;
    transition-property: opacity;
    transition-duration: 0.5s;
  }
    #howtouse > h1{
      font-size: 18px;
    }
