div(id="imageDiv")
  img(src="image/winter-header.jpeg" width="70%")

p 「N高・N予備校 Webアプリコンテスト 2018冬」は、N予備校プログラミング入門コースで学んだN高校生ならびにN予備校受講者が、 プログラミングの成果物を競うコンテストです。
//p このコンテストの応募は既に締め切っております。
//h1
//  a(href='results') 作品集

h2 2018年度 冬 のテーマ
ul
  li コミュニケーション

h2 使用可能なプログラミング言語
ul
  li JavaScript、Node.js、Scala、Python、Golang、Swift、Java

h3 応募規定
ul
  li テーマは「コミュニケーション」であり、そのテーマに沿っていること
  li N予備校で教材を用意している言語（JavaScript、Node.js、Scala、Python、Golang、Swift、Java） を主として使用した作品を提出すること（他のプログラミング言語から変換したものは不可）
  li 著作権上問題のないメディアファイル、ソースコードのみで構成されていること
  li 提出はプロジェクトフォルダを zip圧縮したファイルを提出し、全体のサイズが100MB以内となること
  li 良い作品は公開される可能性があるため、それに了承できること

h3 参加資格

ul
  li N予備校 または N高課外授業 にて プログラミングのいずれかのコースを受講中であること

h3 賞

ul
  li
    b N高最優秀賞
    ul
      li 賞品:「PFU Happy Hacking Keyboard」 の Professional 2 または Professional JP 、または、「REALFORCE」 シリーズのいずれか
  li
    b N高優秀賞
    ul
      li 賞品:「Razer DeathAdder Elite エルゴノミック ゲーミングマウス」または、「GTRACING ゲーミングチェア」または、「ロジクール ワイヤレスヘッドセット H800r」のいずれか
  li
    b N高健闘賞
    ul
      li 賞品: テレビちゃんぬいぐるみS
  li
    b N予備校最優秀賞
    ul
      li 賞状 ＋ N予備校記念品 + ニコ生で紹介される。

h2 応募期間

ul
    li 2017年11月5日の授業内で投稿フォームのURLを公開
    li 2017年11月5日から2018年2月11日の間、応募フォームより応募可能


h2 応募形式

p 授業内で公開されたGoogleフォームのURLより、投稿作品がまとめられた zipファイルのGoogleドライブの「共有リンク」「作品名」「作品の説明」「プログラミングを始めた時期」を記入し投稿する。締め切り日までは編集可能。


h2 結果発表

p 2018年３月中旬に授業と本サイトにて発表


h2 評価項目

ul
    li コーディング技術 (40点)
        ul
            li コードの技術力を評価します
    li 完成度 (30点)
        ul
            li ユーザーインターフェース全般の完成度を評価します
    li アイデア (30点)
        ul
            li 創意工夫や発想、テーマにあっているか、着眼点の良さを評価します


h2 審査員

ul
    li ドワンゴエンジニア koizuka さん
    li ドワンゴエンジニア meso さん
    li プログラミング講師陣


h2 Googleドライブの共有リンクの取得方法

p
    a(href="https://www.google.com/intl/ja_jp/drive/", target="_blank") https://www.google.com/intl/ja_jp/drive/
    |　から 「Google ドライブにアクセス」ボタンをクリックします。

    img(src="image/googleDriveAccess.png")

    |ドライブにはドラッグ＆ドロップでzipファイルを保存することができます。<br>
    |その後、そのファイルを右クリックして、メニューから「共有」をクリックします。

    img(src="image/linkShare.png")

    |そこから共有可能なリンクを取得とかかればテキストの右側のボタンをクリックすることで、共有リンクを取得することができます。

    img(src="image/copyLink.png")

    |この共有リンクのURLを応募フォームに入力ください。


h2 応募フォーム

a(href="https://docs.google.com/forms/d/1anH4FtoiGOk9DjAREIOpN5Edh-FYygkfW0QqYMAN0wE", target="_blank") https://docs.google.com/forms/d/1anH4FtoiGOk9DjAREIOpN5Edh-FYygkfW0QqYMAN0wE
script(src="snow.js")