h1 「N高 動くWebページコンテスト 2018年度 夏」応募作品

p 評価コメントは個別に送らさせていただきます。


hr

h2 カイヤ

a(href="カイヤ/pocketmoney.html" target="_blank")
  p お小遣い前月比

p 自分のお小遣いがどれだけ増えたのか減ったのかを調べたくて作りました。　前月と今月の変化を％で表します。
a(href="カイヤ/pocketmoney.html" target="_blank")
  img(src="images/カイヤ.png" width="400px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h2 みーくん

a(href="みーくん" target="_blank")
  p miifriendsTyping

p 自分はタイピングが苦手なので、タイピングの練習が出来る Webアプリ を作ってみました。文をタイプしていく本番モードの他に、上段、中段、下段のどれか 1 つに絞ってタイプの練習が出来る練習モードも作りました。本番モードの方は、表示されたアルファベットをそのままタイプするようにしてください。作品を GitHub Pages で公開しています。URL は https://miifriends.github.io/typing-game/ です。
a(href="みーくん" target="_blank")
  img(src="images/みーくん.png" width="400px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h2 うわじま

a(href="うわじま" target="_blank")
  p 双極性障害の気分症状チェックシート

p 双極性障害当事者のための、気分が上がっているのか下がっているのかチェックするためのツールです。本日の日付が自動表示されます。項目へのチェックはマウスクリックで行えるよう工夫しました。
a(href="うわじま" target="_blank")
  img(src="images/うわじま.png" width="400px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h2 いちご

a(href="いちご" target="_blank")
  p 今晩のおかず決めアプリ

p N高生の母です。私もプログラミングやってみたくてN予備校に入校しました。「今日の晩ごはん何食べたい？」と家族に聞いても、いつも「なんでもいい」という答えが返ってくるので、決めてくれるアプリを作りました。
a(href="いちご" target="_blank")
  img(src="images/いちご.png" width="400px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h2 あきえりあ

a(href="あきえりあ" target="_blank")
  p グラデーションメーカー

p ボタン一つで、ほぼ無限通りある組み合わせの中から、１つのグラデーションを作ってくれます。自分でグラデーションを作ろうとすると、無限通りの可能性を最大限に活かせないので、このようなソフトウェアを作ってみました。思いもよらないきれいなグラデーションを見つけたり、暇つぶしに便利です。
a(href="あきえりあ" target="_blank")
  img(src="images/あきえりあ.png" width="400px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h2 Cygnet

a(href="Cygnet/何をするか.html" target="_blank")
  p Cygnet

p その日にやることが思いつかない(悩む)時があるのでその時に一発で何をすればいいか表示してくれるようなものを作りました。assessmentの流用
a(href="Cygnet/何をするか.html" target="_blank")
  img(src="images/Cygnet.png" width="400px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h2 もずく

a(href="もずく" target="_blank")
  p ファンタジー創作キャラ製造機

p 魔法やモンスター、果てには天使も存在する、ファンタジーな世界観に登場するキャラクターを作成するweb。
a(href="もずく" target="_blank")
  img(src="images/もずく.png" width="400px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h2 小枝様

a(href="小枝様/trump.html" target="_blank")
  p 大富豪ルール早見表

p 夏休みに、親戚と大富豪をやった時に「あ、そのルール今ないからw」と言う発言にイラっと着たので、制作することを決意しました。ルールを書ける欄を半無限に作れるので、これでイラっとくる親戚を黙らせましょう！
a(href="小枝様/trump.html" target="_blank")
  img(src="images/小枝様.png" width="400px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr