img(src="image/winter-header.jpeg" width="70%")

p 「N高・N予備校 Webアプリコンテスト 2017冬」は、N予備校プログラミング入門コースで学んだN高校生ならびにN予備校受講者が、 Node.js の技術を使ってプログラミングの成果物を競うコンテストです。
p 今回はプログラミング経験が<b>一年未満の方</b>と、<b>一年以上の方</b>に分けて開催いたします。
//p このコンテストの応募は既に締め切っております。
//h1
//  a(href='results') 作品集

h3 参加資格

ul
    li N予備校 または N高課外授業 にて プログラミングのいずれかのコースを受講中であること


h1(style="font-size: 1.8em") プログラミング経験が一年未満の方
ul
    li テーマは、「動物」

h3 応募規定
ul
    li Node.js および JavaScript を主として使用した作品を提出すること（他のプログラミング言語から変換したものは不可）
    li テーマは「動物」であり、そのテーマに沿っていること
    li 著作権上問題のないメディアファイル、ソースコードのみで構成されていること
    li 提出はプロジェクトフォルダを zip圧縮したファイルを提出し、全体のサイズが100MB以内となること
    li 良い作品は公開される可能性があるため、それに了承できること


h3 賞

ul
    li
        b N高最優秀賞
        ul
            li 賞品:PFU Happy Hacking Keyboard の Professional 2 または Professional JP 、または、REALFORCE シリーズのいずれか
    li
        b N高優秀賞
        ul
            li 賞品:Arduinoをはじめようキット
    li
        b N高健闘賞
        ul
            li 賞品: テレビちゃんぬいぐるみS
    li
        b N予備校最優秀賞
        ul
            li 賞状 ＋ ニコ生で紹介される。

h3 作品例
ul
    li 動物に関する掲示板
    li 動物ゲーム
    li ペット管理アプリ




h1(style="font-size: 1.8em") プログラミング経験が一年以上の方
p テーマは「オープンデータの活用」

h3 応募規定

ul
    li 任意のプログラミング言語を使用した作品を提出すること (プログラミング言語をまったく利用しないものは不可)
    li テーマである「オープンデータの活用」に沿っていること
    li 著作権上問題のないメディアファイル、データ、ソースコードのみで構成されていること
    li 提出はプロジェクトフォルダを zip圧縮したファイルを提出し、全体のサイズが100MB以内となること
    li 良い作品は公開される可能性があるため、それに了承できること

h3 賞
ul
    li
        b 最優秀賞
        ul
            li 賞状 ＋ N予備校記念品 ＋ ニコ生で紹介される。
    li
        b 優秀賞
        ul
            li 賞状 ＋ ニコ生で紹介される。
    li
        b 健闘賞
        ul
            li 賞状 ＋ ニコ生で紹介される。

h3 作品例
ul
    li 天気情報
    li 電車情報
    li データーまとめサイト or API


h2 応募期間

ul
    li 2017年12月14日の授業内で投稿フォームのURLを公開
    li 2017年12月14日から2018年1月27日の間、応募フォームより応募可能


h2 応募形式

p 授業内で公開されたGoogleフォームのURLより、投稿作品がまとめられた zipファイルのGoogleドライブの「共有リンク」「作品名」「作品の説明」「プログラミングを始めた時期」を記入し投稿する。締め切り日までは編集可能。


h2 結果発表

p 2018年2月12日の授業と本サイトにて発表


h2 評価項目

ul
    li コーディング技術 (40点)
        ul
            li コードの技術力を評価します
    li 完成度 (30点)
        ul
            li ユーザーインターフェース全般の完成度を評価します
    li アイデア (30点)
        ul
            li 創意工夫や発想、テーマにあっているか、着眼点の良さを評価します


h2 審査員

ul
    li ドワンゴエンジニア koizuka さん
    li ドワンゴエンジニア meso さん
    li プログラミング講師陣


h2 Googleドライブの共有リンクの取得方法

p
    a(href="https://www.google.com/intl/ja_jp/drive/", target="_blank") https://www.google.com/intl/ja_jp/drive/
    |　から 「Google ドライブにアクセス」ボタンをクリックします。

    img(src="image/googleDriveAccess.png")

    |ドライブにはドラッグ＆ドロップでzipファイルを保存することができます。<br>
    |その後、そのファイルを右クリックして、メニューから「共有」をクリックします。

    img(src="image/linkShare.png")

    |そこから共有可能なリンクを取得とかかればテキストの右側のボタンをクリックすることで、共有リンクを取得することができます。

    img(src="image/copyLink.png")

    |この共有リンクのURLを応募フォームに入力ください。


h2 応募フォーム

a(href="https://docs.google.com/forms/d/e/1FAIpQLScN8Myn95n809SFUX1zggIemblHETfj_1_QLrfJYRTst4MYDQ/viewform", target="_blank") https://docs.google.com/forms/d/e/1FAIpQLScN8Myn95n809SFUX1zggIemblHETfj_1_QLrfJYRTst4MYDQ/viewform

