h1 「Web アプリケーションコンテスト 2017年度 冬」応募作品

p 評価コメントは個別に送らさせていただきます。


hr

h2 プログラミング経験１年未満

h3 208-209
a(href="https://www.shakyo-typing.com/")
  p 写経タイピング
p タイピングが苦手なので、タイピングゲームの作成と公開ができるアプリケーションにしました。 動物を題材としたタイピングゲームを遊ぶことができ、結果を動物の足の速さで評価してくれます。 入門コースで教わったことを少しづつ改変して作りました。 Windowsでしか動作確認ができていないので、Macで正常に動くのかわかりません(特に改行コード周り)。 詳しくは https://github.com/208-209/shakyo-typing にまとめてあります。 よろしくお願いします。
a(href="https://drive.google.com/file/d/18EJ59r27YvEvISdtdYVP9-QXHJALqe3i/view?usp=sharing")
  p ソースコード
img(src="images/208-209.png" width="500px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h3 suzugumi
a(href="suzugumi/")
  p zlooong(ズローーング)
p 動物たち(zoo)とながーーーく習慣化しよう！近未来！？5：5画面セパレートウェブデザイン採用（勝手に命名）！「zlooong」とにかく、サボリ癖、長続きしない自分を改善する為に作りました。新しいとかわいいをテーマに人生２回目のwebページ（アプリ）が出来ました。　蛇足：【Node.jsを会得し、完全版を作りたいと考えています。恥ずかしいですがド素人なので応募するかを最後まで悩みました。唯一、プログラミングだけは熱中でき、目標も持てました。この機会を与えてくれたN予備校のサービス運営様を心から感謝申し上げ、応募させていただきます。】 【追記】 素材は、自作キャラクター、いらすとや、商用フリーを使用。カードのスリーブは自分で作っています。
a(href="https://github.com/suzugumi/zlooong")
  p ソースコード
img(src="images/suzugumi.png" width="500px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr


h2 プログラミング経験１年以上

h3 Kohe_Ioroi
a(href="http://mizikaku.ga")
  p 短く.ga
p 短縮URLサービスです。1時間で作りました。言語はPython、フレームワークはTornadoを使用しています。
a(href="https://drive.google.com/open?id=1aySrMptOsRXOXzjPE_uF3k3KS4Qo3cSK")
  p ソースコード
img(src="images/Kohe_Ioroi1.png")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h3 Kohe_Ioroi
a(href="https://twitter.com/k_weather_alart")
  p 神戸市気象・災害チェッカー(スクレイピング・ボット)
p 神戸市の警報及び注意報、台風情報を定期的にチェックし呟きます。
a(href="https://drive.google.com/open?id=18qW_CETSJQmyvAf9fN3CMp-R1ozPUzz1")
  p ソースコード
img(src="images/Kohe_Ioroi2.png" width="500px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h3 光の戦士Mono
a(href="https://secure-lowlands-97650.herokuapp.com/")
  p OPEN DATA ONSEN♨︎
p 温泉が好きなので、温泉に関するアプリを作った結果がこちらです。オープンデータなにそれ？状態からはじまって、急いで作った温泉地図アプリです。Top画面は湯の花イメージしてます。セキュリティ回りが不安ですが、見てください。MapboxというAPIを使ってます。2017年1月からはじめたので、少し背伸びして１年以上で応募です大目に見てください。
a(href="https://drive.google.com/file/d/1B-E8ApzZCyxyrY2Lwfrv-ObGGPVp3ryI/view?usp=sharing")
  p ソースコード
img(src="images/光の戦士Mono.png" width="500px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h3 ひこん
a(href="https://hikonnico2.github.io/kawasaki-furomeguri/")
  p 川崎フロ巡り
p 地元の役所のオープンデータを利用した公衆浴場マップです。Bootstrapとgoogleマイマップを使用しました。地元ネタで何か作ろうと思いましたが、役所のオープンデータだと面白いアイデアが浮かびませんでした。Bootstrapによるレスポンシブデザインと作成時間の短さ（1日程度）がポイントです。川崎フロンターレ意識してます。
a(href="https://drive.google.com/file/d/1uX4d79DM_b0_9XmPVdUhMPZ9PMsB0TuC/view?usp=sharing")
  p ソースコード
img(src="images/ひこん.png" width="500px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h3 asaken
a(href="https://fast-atoll-98525.herokuapp.com/")
  p 神奈川県の無線公衆LANアクセスポイント
p すみません、完成できませんでした。当初はキャリア毎のアクセスポイントをgoogle map上に表示される予定でしたが、ReadMEに記載したことが内容が実装できませんでした。
a(href="https://drive.google.com/file/d/1ftVDYkHtszofGTlyg4ZlKvn5dmQV-4v3/view?usp=sharing")
  p ソースコード
img(src="images/asaken.png")
p コーディング技術 点、アイデア 点、完成度 点、総合 点

hr

h3 YKW
a(href="https://jpnykw.github.io/ininf/")
  p ininf
p 普段使用する"検索エンジン"と普段気にする"天気"を一つに組み合わせました．searchに入力するとGoogleで検索を行えます．位置情報を許可するとユーザーの位置の天気情報を画面全体を使って表現します．
a(href="https://drive.google.com/open?id=1E5L6bwvPTU4MTxJR1iMaJBE1OKd5pURS")
  p ソースコード
img(src="images/YKW.png" width="500px")
p コーディング技術 点、アイデア 点、完成度 点、総合 点
