h2 「N高 動くWebページコンテスト 2017年度 夏」応募作品



h3 光の戦士Mono

a(href="https://progedu.github.io/web-contests/move-webcontest2017-summer/光の戦士Mono/")
  p もしN高校野球部が甲子園を目指したら

p 「高校」がテーマということで、高校といえば甲子園！と思い。 甲子園に関する動くwebページにしようと考えました。 甲子園をテーマにしたノベルゲームを作るという方向性で作成しています。 自身のプログラミング技術でできるかどうかわかりませんでしたが、「既存のノベルゲームにできるだけ自作プログラムで近づけるか？」を目標に作ってみました。楽しんでいただければ幸いです。



h3 かずき

a(href="https://progedu.github.io/web-contests/move-webcontest2017-summer/かずき/training-menu.html")
  p ムキムキにならないか？

p 高校生が体を鍛えたいときにトレーニングメニューを組んでくれるツールです。



