ul
  li
    a(href="webcontest2018-winter") Webアプリケーションコンテスト2018冬　<font color="red">応募受付中</font>
  li
    a(href="move-webcontest2018-summer") 動くWebページコンテスト2018夏
  li
    a(href="webcontest2017-winter") Webアプリケーションコンテスト2017冬
  li
    a(href="move-webcontest2017-summer") 動くWebページコンテスト2017夏