img(src="image/n-header.jpeg" width="80%")

p 「N高 動くWebページコンテスト 2017夏」は、N予備校プログラミング入門コースで学んだN高校生が、 HTML/CSS/JavaScriptの技術を使って動きのあるWebページの制作を行い競うコンテストです。


h3 参加資格

ul
    li N予備校 または N高課外授業 にて プログラミングのいずれかのコースを受講中であること


h3 応募規定

ul
    li テーマは「高校」であり、そのテーマに沿っている必要がある
    li HTML/CSS/JavaScriptで作成された動くWebページを制作し提出すること（他のプログラミング言語から変換したものは不可）
    li 作品はGoogle Chromeブラウザで、 index.html をファイルを開くことによって確認できること
    li 外部ライブラリ (jQuery, Processing.js, anime.js, Pixi.js など) が利用されていないこと
    li 著作権上問題のないメディアファイル、ソースコードのみで構成されていること
    li 提出はプロジェクトフォルダをzip圧縮したファイルを提出し、全体のサイズが100MB以内となること
    li 良い作品は公開される可能性があるため、それに了承できること


h3 賞

ul
    li
        b N高最優秀賞
        ul
            li 賞品:PFU Happy Hacking Keyboard の Professional 2 または Professional JP のいずれか
    li
        b N高優秀賞
        ul
            li 賞品:Raspberry Pi 3 Model B
    li
        b N高健闘賞
        ul
            li 賞品: テレビちゃんぬいぐるみS
    li
        b N予備校最優秀賞
        ul
            li 賞状 ＋ ニコ生で紹介される。

h3 応募期間

ul
    li 2017年7月3日の第23回授業内で投稿フォームのURLを公開
    li 2017年7月3日から2017年8月17日の間、応募フォームより応募可能


h3 応募形式

p 授業内で公開されたGoogleフォームのURLより、投稿作品がまとめられたzipファイルのGoogleドライブの「共有リンク」「作品名」「作品の説明」「プログラミングを始めた時期」を記入し投稿する。締め切り日までは編集可能。


h3 結果発表

p 2017年9月4日の授業と本サイトにて発表


h3 評価項目

ul
    li コーディング技術 (40点)
        ul
            li コードの技術力を評価します
    li 完成度 (30点)
        ul
            li ユーザーインターフェース全般の完成度を評価します
    li アイデア (30点)
        ul
            li 創意工夫や発想、テーマにあっているか、着眼点の良さを評価します


h3 作品例

ul
    li 英単語テストシステム、漢字検定クイズ
    li 歴史人物当てクイズ
    li 学内掲示板


h3 審査員

ul
    li ドワンゴエンジニア koizuka さん
    li ドワンゴエンジニア meso さん
    li プログラミング講師陣


h3 Googleドライブの共有リンクの取得方法

p
    a(href="https://www.google.com/intl/ja_jp/drive/", target="_blank") https://www.google.com/intl/ja_jp/drive/
    |　から 「Google ドライブにアクセス」ボタンをクリックします。

    img(src="image/googleDriveAccess.png")

    |ドライブにはドラッグ＆ドロップでzipファイルを保存することができます。<br>
    |その後、そのファイルを右クリックして、メニューから「共有」をクリックします。

    img(src="image/linkShare.png")

    |そこから共有可能なリンクを取得とかかればテキストの右側のボタンをクリックすることで、共有リンクを取得することができます。

    img(src="image/copyLink.png")

    |この共有リンクのURLを応募フォームに入力ください。


h3 応募フォーム

a(href="https://docs.google.com/a/nnn.ed.jp/forms/d/e/1FAIpQLSeEmTlU759179grZskThgBuiYPN44pPcfE90CwDvTcwEwQeHw/viewform", target="_blank") https://docs.google.com/a/nnn.ed.jp/forms/d/e/1FAIpQLSeEmTlU759179grZskThgBuiYPN44pPcfE90CwDvTcwEwQeHw/viewform

